@charset "UTF-8";
/* CSS document - DT173G Moment 1 created by: Frida Lazzari 2021 */


body {
    background-color: rgba(128, 128, 128, 0.393);
    margin: 10%;
    border: 5px solid rgba(17, 32, 71, 1);
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    margin-left: 2%;
    color:rgba(17, 32, 71, 1);
}

p, 
li {
    margin-left: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color:rgba(17, 32, 71, 1);
}

picture {
    margin-left: 2%;
}
